body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "-apple-system", "HelveticaNeue", "Droid Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;

  &[aria-disabled='true'] {
    opacity: .5;
  }
}

#header {
  text-align: center;
  padding-top: 40px;
  color: #666;
  font-size: 120%;
  display: none;
}

#content {
  position: relative;
  height: 100%;
}

#controls {
  position: relative;
  height: 150px;
}

@keyframes play-hide {
  100% {
    transform: scale(.5);
    opacity: 0;
  }
}

@keyframes replay-show {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  70% {
    // opacity: 1;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes replay-rotate {
  80% {
    transform: rotate(380deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-color: transparent;

  .r {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
  }

  .p {
    top: 0;
    left: 0;
    position: absolute;
  }

  .p {
    path {
      fill: #333;
    }
  }

  &.replay {
    .p {
      animation: play-hide .1s forwards;
    }

    .r {
      animation: replay-show .2s forwards;
    }

    &.pressed {
      animation: replay-rotate .2s forwards ease-out;
    }
  }
}

.speed() {
  &[data-speed="18"] {
    background-color: #5cb85c;
  }
  &[data-speed="21"] {
    background-color: #F80;
  }
  &[data-speed="25"] {
    background-color: #d9534f;
  }
}

#settings {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 20%;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50px;
  font-size: 20px;
  background-color: transparent;
  color: #fff;

  .speed;
}

#repeat {
  display: block;
  position: absolute;
  top: 50%;
  left: 80%;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-size: 50px 50px;

  // animation: replay-show .2s forwards;

  &.pressed {
    animation: replay-rotate .2s forwards ease-out;
  }
}

#answers {
  button {
    width: 70px;
    height: 70px;
    color: black;
    font-size: 20px;
    border-radius: 100px;
    background-color: #eee;
    text-transform: uppercase;

    .correct {
      background-color: #5cb85c;
      color: #fff;
    }

    .wrong {
      background-color: #d9534f;
      color: #fff;
    }
  }

  .keyboard {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;

    .key {
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      margin: 10px;
      color: black;
      font-size: 20px;
      border-radius: 50px;
      background-color: #eee;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;

      &:active {
        background-color: #bbb;
      }
    }
  }

  .input {
    text-align: center;
    margin: 0 0 20px 0;

    .char ~ .char {
      margin-left: .3em;
    }

    .char {
      display: inline-block;
      position: relative;
      font-size: 50px;
      line-height: 50px;
      width: 1em;
      height: 1em;
      border-bottom: 2px solid #666;
      background-color: #f5f5f5;
      text-align: center;
      text-transform: uppercase;

      &.correct {
        color: #5cb85c;
      }

      &[data-correct]:after {
        content: attr(data-correct);
        position: absolute;
        top: -.5em;
        right: -.5em;
        font-size: 20px;
        width: 1em;
        height: 1em;
        line-height: 1em;
        background-color: #5cb85c;
        color: #fff;
        border-radius: 2px;
      }
    }

    &.correct {
      color: #5cb85c;
    }

    &.wrong {
      color: #d9534f;
    }
  }
}

#settingsPanel {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // padding-top: 100px;
  background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 10px;

    .speed {
      padding: 5px 10px;
      margin: -5px 0;
      border-radius: 5px;

      color: #fff;
      cursor: pointer;

      .speed;
    }
  }

  button {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 50px;
    color: #000;
    background-color: #fff;
    line-height: 50px;

    &.selected {
      background-color: #FFD34E;
    }
  }

  .section {
    .levels {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      justify-content: center;
      background-color: #eee;
      margin-bottom: 5px;
    }

    .title {
      font-size: 15px;
      position: absolute;
      color: #bbb;
      padding: 5px 0 0 5px;
    }
  }
}
