body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

#header {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  padding-top: 40px;
  color: #666;
  font-size: 120%;
}

#content {
  position: relative;
  height: 100%;
}

#controls {
  position: relative;
  height: 200px;
}

#play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-image: url('../img/play.svg');
  background-size: 100px 100px;
  background-color: transparent;
}

#play.replay {
  background-image: url('../img/play.svg');
}

#settings {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 25%;
  left: calc(25% - 20px);
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  background-color: transparent;
  border: 3px solid #000;
  color: #000;
}

#next {
  display: block;
  position: absolute;
  top: 50%;
  left: 75%;
  left: calc(75% + 20px);
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url('../img/forward.svg');
  background-size: 50px 50px;
}

#answers {
  display: flex;
  justify-content: space-around;
}

#answers button {
  width: 70px;
  height: 70px;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  border-radius: 100px;
  background-color: #eee;
  text-transform: uppercase;
}

#answers button.correct {
  background-color: #5cb85c;
  color: #fff;
}

#answers button.wrong {
  background-color: #d9534f;
  color: #fff;
}

#settingsPanel {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 100px;
  background-color: #fff;
}

#settingsPanel button {
  box-sizing: border-box;
  line-height: 70px;
  width: 70px;
  height: 70px;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  border-radius: 100px;
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  line-height: 70px;
}

#settingsPanel .section .levels {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#settingsPanel .section .title {
  font-family: "Helvetica", sans-serif;
  text-transform: capitalize;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #555;
  font-size: 20px;
  text-align: center;
}
